# Go
# Build and test your Go application.
# Add steps that save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/go
strategy:
  matrix:
    linux:
      imageName: 'ubuntu-16.04'
    mac:
      imageName: 'macos-10.13'
    windows:
      imageName: 'windows-2019'
pool:
  vmImage: $(imageName)

# variables:
#   GOBIN:  '$(GOPATH)/bin' # Go binaries path
#   GOROOT: '/usr/local/go1.11' # Go installation path
#   GOPATH: '$(system.defaultWorkingDirectory)/gopath' # Go workspace path
#   modulePath: '$(GOPATH)/src/github.com/$(build.repository.name)' # Path to the module's code

steps:
- task: GoTool@0
  inputs:
    version: '1.10' 
    #goPath: # Optional
    #goBin: # Optional

# - task: Go@0
#   inputs:
#     command: 'test' # Options: get, build, test, custom
#     #customCommand: # Required when command == Custom
#     arguments: -v .
#     workingDirectory:
